
.headerContainer{
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg,rgb(88, 183, 238),#96ffd7,rgb(255, 227, 142)) 1;
  background-color: white;

}
.hoverLink {
  color: inherit;
  text-decoration: none;
  font-family: Raleway;
}
.hoverLink{
  position: relative;
  text-decoration: none; /* Adjust the text color */
  font-size: 18px; /* Adjust font size as needed */
  padding-bottom: 5px; /* Space for the border animation */
}

.hoverLink::after {
  content: '';
  position: absolute;
  left: 50%; /* Start at the center */
  bottom: 0;
  width: 0;
  height: 2px; /* Thickness of the border */
  background-color: rgb(0, 183, 255);
  transform: translateX(-50%); /* Center the starting point */
  transition: width 0.3s ease-in-out; /* Adjust transition duration */
}

.hoverLink:hover::after {
  width: 100%;
}
.headlogo{
  display: flex;
  text-transform: capitalize;
  align-items: center;
  height: 100%;
}
.headlogo h1{
  font-size: 25px;
  margin-left: 10px;
}
.headlogo img{
  width: 60px;
}
.linksContainer{
  display: flex;
}
.mainRoutes{
  display: flex;
}
.headerContainer a{
  padding: 10px;
  margin: 0 5px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Raleway-Medium;
}
.headerContainer h1{
  font-weight: 200;
  font-family: Raleway-Medium;
}
.flexContainer{
  display: flex;
  justify-content: space-between;
}
.active::after {
  width: 100%;
}
.menu{
  display: none;
}
.linksForMenu{
  display: none;
}
.menuHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 0;
}
@media(max-width:855px){
  .linksForMenu p{
      padding:10px;
      color: #333;
  }
  .menu{
      display: flex;
  }
  .menuButton{
      width: 40px;
      height: 100%;
      background-color: transparent;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .menuButton img{
      width: 30px;
      height: 100%;
  }
  .linksContainer{
      display: none;
  }
  .linksForMenu{
      display: flex;
      flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: white;
  color: #333;
  transform: translateX(100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s all ease-in-out;
  }
  .closeButton{
      background-color: white;
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .closeButton img{
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
  .linksForMenu a{
    color: #333;
      padding: 10px;
      border-left: 2px solid #333;
      margin: 10px 15px 10px 15px;
  }
  .linksForMenu a::after{
      background-color: #333;
  }
}
@media(max-width:425px){
  .linksForMenu{
  width: 100%;
  }
  .headerContainer h1{
      font-size: 18px;
  }
  .headerContainer{
      padding: 10px 0;
  }

}